.footer {
  background-color: #364d79;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.xiaohui {
  width: 150px;
  margin: 30px 80px;
}

.box {
  margin-left: 100px;
  color: white;
}