.footer {
  width: 100vw;
  padding: 20px 0;
  background-color: #364d79;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-height: 300px;
}

.xiaohui {
  width: 150px;
  margin: 30px 80px;
}

.box {
  margin-left: 100px;
  color: white;
}