.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header {
  width: 100vw;
  background-color: #364d79;
  color: white;
  flex-basis: 80px;
  display: flex;
  flex-direction: row-reverse;
}

/* 覆盖默认样式 */
a {
  color: white;
}

.nav {
  line-height: 80px;
  font-weight: 300;
  font-size: 20px;
  width: fit-content;
  text-align: center;
  margin: 0 15px;
}

.car-img {
  width: 100vw;
  background: #364d79;
  color: white;
  text-align: center;
}

.header-2 {
  text-align: center;
  font-weight: 300;
  margin-top: 80px;
  margin-bottom: 30px;
}

.header-2::after {
  width: 30px;
  height: 3px;
  margin-left: 50%;
  margin-top: 8px;
  transform: translateX(-50%);
  content: "";
  display: block;
  background-color: #364d79;
}

.line-img-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 50px 0 100px;
}

.square-img {
  width: 300px;
}

.prod-link {
  max-width: 25%;
}